@import 'wvu-spotlight';

.wvu-triptych { 
    
  width: 100%;
  h2 {
    margin: 0.5em 0;
  }
  p {
    font-size: 0.8em;
    padding-bottom: 1em;
  }
  
}

.wvu-triptych__container {
  padding: $wvu-container-padding;
  padding-top:80px;
  padding-bottom:80px;
}

.wvu-triptych__alt {
  padding-top:0px;
}
@include mq($bp-xlarge, false, max) {
    .wvu-triptych__container{
        padding-left:20px;
        padding-right:20px;
    }
}
