.wvu-sub-nav {
    .wvu-subtitle{
        color:#353f48;
        font-weight:bold;
        text-transform:uppercase;
         border-bottom: 1px solid #eee;
         padding-bottom:8px;
         a{
             color:black;
             text-decoration: none;
         }
         a:hover{
             color:$wvu-hover-link-color;
             text-decoration: underline;
         }
    }
    ul {
        font-weight: bold; list-style-type: none; padding-left: 0;
        @include mq($bp-medium) {
            padding-left: 0em;
        }
        li { line-height: 1.2em; padding-bottom: 0.5em; margin: 0;
             a { text-decoration: none; }
             ul { font-weight: normal;
                  font-size: 0.8em;
                  padding: 1em 0 0 0;
                  padding-left:0;
                  li {
                      ul { font-size: 1em; padding-left: 0em; }
                  }
             }
        }
    }
    > ul {
        @include mq($bp-medium) {
            border-left: 0px solid #eee;
        }
    }

}
