---
layout: default
---

<div class="wvu-container">

  <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>

  <article id="wvu-main-content" class="main wvu-article wvu-article--individual" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    <h1 class="wvu-article__title" itemprop="headline"><r:page:name /></h1>
    <p class="wvu-article__meta">
           <time class="wvu-article__date" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" error_msg="Not Yet Published" /></time>
    </p> <!-- /.wvu-article__meta -->
    <div class="wvu-article__body" itemprop="articleBody">
      <r:editable_region name="article-body" />
    </div> <!-- /.wvu-article__body -->
  </article> <!-- /.wvu-article -->

  <aside class="wvu-sidebar"  >
    <h2>Related Articles</h2>
    <r:blog:articles limit="5" tags="{article:tags}" exclude_ids="{article:id}">
      <r:if_articles>
        <ul class="related-articles">
          <r:each>
            <li><a href="<r:article:path />"><r:article:name /></a></li>
          </r:each>
        </ul>
      </r:if_articles>
    </r:blog:articles>

    <div class="wvu-sub-nav">
      <h3>Archives</h3>
      <r:blog:archive:monthly ul_class="wvu-blog-archive"  include_count="false"/>
    </div> <!-- /.wvu-sub-nav -->
  </aside> <!-- /.wvu-sidebar -->

  <r:comment><!-- Need comments for Blog Articles? See https://disqus.com --></r:comment>

</div> <!-- /.wvu-container -->
