---
layout: default

custom_data_attributes:
- show_map
- apply_now
- show_triptych
---


<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">
    <aside class="wvu-sidebar">
        <div class="wvu-sub-nav">
            <p class="wvu-subtitle">
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="=">
                <a href="<r:page:url />"><r:page:name /></a>
            </r:if>
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="!=">
                <a href="<r:parent:page:url />"><r:parent:page:name /></a>
            </r:if>
            </p>
            <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
        </div> <!-- /.wvu-sub-nav -->
        <r:set_var name="sidebar"><r:page:content name="sidebar" /></r:set_var>
        <r:if v1="{{LENGTH(sidebar) > 6}}" v2="true" operator="=" type="boolean">
            <div class="sidebar">

        </r:if>
        <r:editable_region name="sidebar" />
        <r:if v1="{{LENGTH(sidebar) > 6}}" v2="true" operator="=" type="boolean">
            </div>
        </r:if>
    </aside>

    <main id="wvu-main-content" class="main">
        <h1>
            <r:editable_region name="page-title">
                <r:page:name /> <!-- defaults to page name -->
            </r:editable_region>
        </h1>

        <!-- Show the apply now call to action if  enabled -->
        <r:set_var name="triptych"><r:page:data name="show_triptych" /></r:set_var>
        <r:if value1="{$show_triptych}" value2="true" operator="=">
            <r:partial name="patterns/davis-backpage-triptych" />
        </r:if>


        <div class="clear" ></div>


        <r:editable_region name="main" />
        <!--div class="scholarship-support">
             <div class="awarded">
                 <div class="col first">
                    <h5>$540,000</h5>
                    <p>in scholarships has been awarded to</p>
                            <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                                                      <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <img src="/davis-natural-resources-and-design/images/person-icon.png">
                              <img src="/davis-natural-resources-and-design/images/person-icon.png">
                               <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/person-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/person-icon.png">
                             <h5>225<span class="white">
                                     Students</span></h5>
                 </div>
                 <div class="col">
                                   <h5>$20,000</h5>
                    <p>to attend conferences and develop research awarded in 2016-2017 to</p>
                         <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                          <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                           <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                            <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                             <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                              <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                               <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                 <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                  <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                   <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                    <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                     <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                      <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                       <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                        <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                         <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                          <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                           <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                            <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                             <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                              <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                               <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                                <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                                 <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                                  <img src="/davis-natural-resources-and-design/images/scholar-icon.png">
                                                  <span class="h5">26<span class="white">
                                                          Students</span></span>
            </div>
            <div class="value-added">
                <h5>$2 million<h5>
                <h6>endowed undergraduate and graduate value-added experience dollars</h6>
            </div>
            <div class="college-scholarships">
                       <h5>90
                <span>scholarships endowed college-wide</span></h5>
                <div class="col"><img src="/davis-natural-resources-and-design/images/natres-icon.png"><p>SCHOOL OF NATURAL RESOURCES</p><h6>17</h6></div>
                <div class="col"><img src="/davis-natural-resources-and-design/images/ag-icon.png"><p>SCHOOL OF AGRICULTURE AND FOOD</p><h6>21</h6></div>
                <div class="col last"><img src="/davis-natural-resources-and-design/images/design-icon.png"><p>SCHOOL OF DESIGN AND COMMUNITY DEVELOPMENT</p><h6>13</h6></div>
            </div>
        </div--!>
                        <!--
                        <p style="float:left;">
                            <img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg" data-asset-version="260x195" data-asset-id="42323" style="margin-right: 10px;" alt="Man looking at grain in field">

                            <a class="button clear" data-download-id="42303" href="http://davis.sandbox.wvu.edu/files/d/68166f35-7f92-4aec-8b5a-8343b552855e/agribusiness-management_16.pdf">Minor Checklist</a>
                        </p>
                <p>
                            <b>
                                <a name="Agribusiness"></a> Agribusiness Management
                            </b>
                        </p>
                        <p>This minor gives students additional skills aimed specifically at rural businesses
                            that produce, process or market agricultural products and commodities. Such companies
                            range from locally owned firms to Fortune 500 companies such as Unilever and Nestle.
                            <br>
                        </p>

                        <p>
                            <br>
                        </p>




                        <p>
                            <b>
                                <a name="Microbiology"></a> <img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg" data-asset-version="260x195" data-asset-id="42324" style="float: left; margin-right: 10px;" alt="Image of an apple"> Applied &amp; Environmental Microbiology</b>
                        </p>

                        <p>This minor is designed to introduce students to the beneficial and harmful roles
                            of microorganisms in a variety of diverse environments including plants, animals,
                            soil, food, air and water. Emphasis is given to the importance of microorganisms
                            in such applied areas as public health, plant disease, pollution and pollution
                            abatement, biological control of pests, biodeterioration, and ecology.
                            <br>
                        </p>
                        <p>
                            <a class="button" data-download-id="42282" href="http://davis.sandbox.wvu.edu/files/d/7c86592d-1ebb-4609-89f6-cf186e2a4fb2/environmental-microbiology_13.pdf">Minor Checklist</a>
                        </p>
                        <p>

                            <h2><span class="davis-blue">QUICK</span> <span class="davis-gold">FACTS</span></h2>

                                <div class="quick-facts">
                                      <div class="info-top">
                                    <div class="row-left">
                                        <h5>TOTAL STUDENTS</h5>
                                        <h6>2006</h6>
                                    </div>
                                    <div class="row-right">
                                        <h5>
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                        </h5>
                                    </div>

                                    <div class="row-left">
                                        <h5>UNDERGRADUATE STUDENTS</h5>
                                        <h6>1739</h6>
                                    </div>
                                    <div class="row-right">
                                        <h5>
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">

                                        </h5>
                                    </div>

                                    <div class="row-left">
                                        <h5>WV RESIDENTS</h5>
                                        <h6>825</h6>
                                    </div>
                                    <div class="row-right">
                                        <h5>Image</h5>
                                    </div>

                                    <div class="row-left">
                                        <h5>NON-RESIDENT</h5>
                                        <h6>1181</h6>
                                    </div>
                                    <div class="row-right">
                                        <h5>Image</h5>
                                    </div>

                                    <div class="row-left">
                                        <h5>FACULTY TO STUDENT RATIO</h5>
                                        <h6>16:1</h6>
                                    </div>
                                    <div class="row-right">
                                        <h5>
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-blue.png">
                                            <img src="/davis-natural-resources-and-design/images/person-yellow.png">
                                        </h5>
                                    </div>

                                </div>

                          <hr>
                            <div class="info-bottom">
                                <div class="quick-facts">
                                    <div class="row-left">
                                        <h5>TOTAL STUDENTS</h5>
                                        <h6>2006</h6>
                                    </div>
                                    <div class="row-right">
                                        <h5>
                                            <img src="/davis-natural-resources-and-design/images/usda-organic.jpg">
                                        </h5>
                                    </div>

                                    <div class="row-left">
                                        <h5>UNDERGRADUATE STUDENTS</h5>
                                        <h6>1739</h6>
                                    </div>
                                    <div class="row-right">
                                        <h6>
                                            $300,000

                                        </h6>
                                    </div>

                                    <div class="row-left">
                                        <h5>WV RESIDENTS</h5>
                                        <h6>825</h6>
                                    </div>
                                    <div class="row-right">
                                         <h6>
                                            7
                                        </h6>
                                    </div>


                                </div>
                            </div>
                            </div>
                        -->

                        <!--ul class="davis-majors-grid">
                            <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                            <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                                        <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                                                    <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                                                                <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                                                                            <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                                                                                        <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                                                                                                    <li><a href="#"><img src="/davis-natural-resources-and-design/images/majors-placeholder.jpg"><p><r:editable_region name="major-title" /></p></a></li>
                        </ul-->

                        </main>

                        </div> <!-- /.wvu-container -->

                        <!-- Include Google Maps API if enabled -->
                        <r:set_var name="show_map"><r:page:data name="show_map" /></r:set_var>
                        <r:if value1="{$show_map}" value2="true" operator="=">
                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSd1OFLbZkKYuCCU-NmlAe6KPatW7mlsI"></script>
                        </r:if>

                        <!-- Show the apply now call to action if  enabled -->
                        <r:set_var name="apply_now"><r:page:data name="apply_now" /></r:set_var>
                        <r:if value1="{$apply_now}" value2="true" operator="=">
                            <r:partial name="patterns/davis-apply" />
                        </r:if>
