---
layout: default

custom_data_attributes:
 - vignetting
 - vignetting_second_banner
---

<div id="wvu-main-content"></div>
<!-- Using custom page data to set vignetting. Default is false. -->
<r:set_var name="vignetting"><r:page:data name="vignetting" /></r:set_var>


<r:if value1="{{vignetting}}" value2="true" operator="=">
    <div class="wvu-hero <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" />" style="background-image: url(https://patterns.wvu.edu/images/vignetting-2.png), url(<r:page:content name="hero__photo" />);">
</r:if>

<r:if value1="{{vignetting}}" value2="false" operator="=">
    <div class="wvu-hero <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" />" style="background-image: url(<r:page:content name="hero__photo" />);">
</r:if>

<r:edit_mode_only>
    <div class="editor">
        <br>URL of background image: <r:editable_region name="hero__photo" />
    </div>
</r:edit_mode_only>

    <div class="wvu-hero__container">
        <div class="wvu-hero__copy">

        </div>
    </div>
</div>

<r:partial name="patterns/wvu-spotlights-diptych" />
<r:partial name="patterns/wvu-hero--baby" />
<r:partial name="patterns/davis-action-yellow" />
<r:partial name="patterns/davis-social-triptych" />



<r:content_for name="page_js">
</r:content_for>
