---
layout: default

custom_data_attributes:
 - vignetting
 - vignetting_second_banner
---

<div id="wvu-main-content">
  <r:partial name="patterns/wvu-hero" />
</div>
<r:partial name="patterns/wvu-spotlights-diptych" />
<r:partial name="patterns/wvu-hero--baby" />
<r:partial name="patterns/davis-action-yellow" />
<r:partial name="patterns/davis-social-triptych" />



<r:content_for name="page_js">
</r:content_for>
