---
layout: default
---


<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">


    <main id="wvu-main-content" class="main profile">
        <h1>
            <r:page:name /> <!-- defaults to page name -->
        </h1>
        <r:edit_mode_only><h3>View Profile Button:</h3><p>Add the name of the person (first name last name)</p></r:edit_mode_only>
        <r:edit_mode_only><r:editable_region name="wvu-profile__name" /></r:edit_mode_only>

        <r:edit_mode_only><h3>Title:</h3></r:edit_mode_only>
        <r:page:if_has_content_for region="wvu-profile__title" always_show_in_edit_mode="true">
            <h2 class="wvu-h5"><r:editable_region name="wvu-profile__title" /></h2>
        </r:page:if_has_content_for>

        <r:set_var name="wvu_profile__bio"><r:page:content name="wvu-profile__bio" /></r:set_var>
        <r:if v1="{{LENGTH(wvu_profile__bio) > 6}}" v2="true" operator="=" type="boolean">
            <p  <r:edit_mode_only>class="hide-in-editor"</r:edit_mode_only>><r:page:content name="wvu-profile__bio" /></p>
        </r:if>
        <r:edit_mode_only>
            <h3>Bio:</h3>
            <p><r:editable_region name="wvu-profile__bio" /></p>
        </r:edit_mode_only>

        <r:set_var name="wvu_profile__pubs"><r:page:content name="wvu-profile__pubs" /></r:set_var>
        <r:if v1="{{LENGTH(wvu_profile__pubs) > 6}}" v2="true" operator="=" type="boolean">
             <h3  <r:edit_mode_only>class="hide-in-editor"</r:edit_mode_only>>Select Publications</h3>
             <div  <r:edit_mode_only>class="hide-in-editor"</r:edit_mode_only>><r:page:content name="wvu-profile__pubs" /></div>
        </r:if>
        <r:edit_mode_only>
            <h3>Select Publications</h3>
            <p><r:editable_region name="wvu-profile__pubs" /></p>
        </r:edit_mode_only>

        <r:page:if_has_content_for region="wvu-profile__cv" always_show_in_edit_mode="true">
            <r:edit_mode_only><h3>CV:</h3></r:edit_mode_only>
            <r:editable_region name="wvu-profile__cv" />
        </r:page:if_has_content_for>
    </main>
    <aside class="wvu-sidebar">

        <r:page:if_has_content_for region="wvu-profile__photo" always_show_in_edit_mode="true">
            <r:edit_mode_only> <b class="editor-label">Photo:</b></r:edit_mode_only>
            <div class="profile-photo"><r:editable_region name="wvu-profile__photo" /></div>
        </r:page:if_has_content_for>

        <r:set_var name="wvu_profile__phone"><r:page:content name="wvu-profile__phone" /></r:set_var>
        <r:if v1="{{LENGTH(wvu_profile__phone) > 6}}" v2="true" operator="=" type="boolean">
            <p class="wvu-profile__phone-icon <r:edit_mode_only>hide-in-editor</r:edit_mode_only>"><r:page:content name="wvu-profile__phone" /></p>
        </r:if>
        <r:edit_mode_only>
            <b class="editor-label">Phone:</b>
            <p><r:editable_region name="wvu-profile__phone" /></p>
        </r:edit_mode_only>

        <r:set_var name="wvu_profile__email"><r:page:content name="wvu-profile__email" /></r:set_var>
        <r:if v1="{{LENGTH(wvu_profile__email) > 6}}" v2="true" operator="=" type="boolean">
            <p class="wvu-profile__email <r:edit_mode_only>hide-in-editor</r:edit_mode_only>"><r:page:content name="wvu-profile__email" /></p>
        </r:if>
        <r:edit_mode_only>
            <b class="editor-label">Email:</b>
            <p><r:editable_region name="wvu-profile__email" /></p>
        </r:edit_mode_only>

        <r:set_var name="wvu_profile__office"><r:page:content name="wvu-profile__office" /></r:set_var>
        <r:if v1="{{LENGTH(wvu_profile__office) > 6}}" v2="true" operator="=" type="boolean">
            <p class="wvu-profile__office <r:edit_mode_only>hide-in-editor</r:edit_mode_only>"><r:page:content name="wvu-profile__office" /></p>
        </r:if>
        <r:edit_mode_only>
            <b class="editor-label">Office:</b>
            <p><r:editable_region name="wvu-profile__office" /></p>
        </r:edit_mode_only>

        <r:set_var name="wvu_profile__website"><r:page:content name="wvu-profile__website" /></r:set_var>
        <r:if v1="{{LENGTH(wvu_profile__website) > 6}}" v2="true" operator="=" type="boolean">
            <p class="wvu-profile__website <r:edit_mode_only>hide-in-editor</r:edit_mode_only>"><r:page:content name="wvu-profile__website" /></p>
        </r:if>
        <r:edit_mode_only>
            <b class="editor-label">Website:</b>
            <p><r:editable_region name="wvu-profile__website" /></p>
        </r:edit_mode_only>

        <r:edit_mode_only> <b class="editor-label">Additional sidebar space:</b></r:edit_mode_only>
        <r:editable_region name="sidebar" />
    </aside>
</div> <!-- /.wvu-container -->
