---
layout: default
---


<r:partial name="patterns/wvu-breadcrumbs" />
<r:set_var name="limit" value="900" default="900"/>

<div class="wvu-container">
    <aside class="wvu-sidebar">
        <div class="wvu-sub-nav">
            <p class="wvu-subtitle">
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="=">
                <a href="<r:page:url />"><r:page:name /></a>
            </r:if>
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="!=">
                <a href="<r:parent:page:url />"><r:parent:page:name /></a>
            </r:if>
            </p>
            <r:ancestor_menu start_depth="2" max_depth="2" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
        </div> <!-- /.wvu-sub-nav -->
        <r:editable_region name="sidebar" />
    </aside>

    <main id="wvu-main-content" class="main">
        <h1>
            <r:page:name /> <!-- defaults to page name -->
        </h1>

        <!-- Set directory title -->
        <r:if value1="{$tags}" value2="Admin" operator="="><h2>Administration</h2></r:if>
        <r:if value1="{$tags}" value2="ANS" operator="="><h2>Animal and Nutritional Sciences</h2></r:if>
        <r:if value1="{$tags}" value2="DCD" operator="="><h2>Design and Community Development</h2></r:if>
        <r:if value1="{$tags}" value2="FNR" operator="="><h2>Forestry and Natural Resources</h2></r:if>
        <r:if value1="{$tags}" value2="PSS" operator="="><h2>Plant and Soil Sciences</h2></r:if>
        <r:if value1="{$tags}" value2="RM" operator="="><h2>Resource Economics and Management</h2></r:if>
        <!-- Editable region -->
        <r:editable_region name="main" />
        <!-- If no tags then just display alphabetical -->
        <r:if value1="{$tags}" value2="" operator="=">
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="{$tags}" by="name" order="ASC" with_template="directory-record">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
        </r:if>

        <!-- If non admin apply college level sort -->
        <r:if value1="{$tags}" value2="" operator="!=">
            <r:if value1="{$tags}" value2="Admin" operator="!=">
                <div class="directory-listing">
                    <!-- get director -->
                    <r:set_var name="additional_tags"><r:var name="tags" />,Director</r:set_var>
                    <r:children:each limit="{$limit}" labels="{$additional_tags}" by="name" labels_match="all" order="ASC" with_template="directory-record">
                        <h3><r:page:name /></h3>
                        <p><r:page:content name="wvu-profile__title" /></p>
                        <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                        <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                        <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                        <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                        <hr>
                    </r:children:each>

                    <!-- show everyone else -->
                    <r:children:each limit="{$limit}" labels="{$tags}" by="name" order="ASC" with_template="directory-record">
                        <h3><r:page:name /></h3>
                        <p><r:page:content name="wvu-profile__title" /></p>
                        <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                        <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                        <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                        <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                        <hr>
                    </r:children:each>
                </div>
            </r:if>
        </r:if>

        <r:if value1="{$tags}" value2="Admin" operator="=">
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="Admin" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
        </r:if>

        <!-- Sorting for admin directory -->
        <r:if value1="{$tags}" value2="Admin" operator="=">
            <h2>Office of the Dean & Director</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="OfficeOfTheDean" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
            <h2>Academic Affairs</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="AcademicAffairs" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
            <h2>Development</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="Development" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
            <h2>Marketing and Communications</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="MarketingAndCommunications" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
            <h2>Business Office</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="BusinessOffice" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>

                    <hr>
                </r:children:each>
            </div>
            <h2>Experiment Station</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="ExperimentStation" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
            <h2>Farm Administration</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="FarmAdmin" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <r:set_var name="wvu_profile__bio"><r:page:content name="wvu-profile__bio" /></r:set_var>
                    <r:if v1="{{LENGTH(wvu_profile__bio) > 6}}" v2="true" operator="=" type="boolean">
                        <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    </r:if>
                    <hr>
                </r:children:each>
            </div>
            <h2>Office of Statistics</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="OfficeOfStatistics" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
            <h2>Facilities</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="Facilities" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
            <h2>Computer Support</h2>
            <div class="directory-listing">
                <r:children:each limit="{$limit}" labels="ComputerSupport" with_template="directory-record" by="name" order="ASC">
                    <h3><r:page:name /></h3>
                    <p><r:page:content name="wvu-profile__title" /></p>
                    <p class="directory-listing-phone wvu-profile__phone-icon"><r:page:content name="wvu-profile__phone" /></p>
                    <p class="directory-listing-email wvu-profile__email"><r:page:content name="wvu-profile__email" /></p>
                    <p class="directory-listing-office wvu-profile__office"><r:page:content name="wvu-profile__office" /></p>
                    <a href="<r:page:url/>" class="button">View <r:page:content name="wvu-profile__name" /> Profile</a>
                    <hr>
                </r:children:each>
            </div>
        </r:if>
    </main>

</div> <!-- /.wvu-container -->
