---
layout: default

custom_data_attributes:
- hide_meta_description
- vignetting
- vignetting_second_banner
- special_events_enabled
- special_events_vignetting
- baby_hero_enabled
---

<main id="wvu-main-content">
  <r:partial name="patterns/wvu-landing-page-header" />

<r:partial name="patterns/davis-faculty" />
<r:partial name="patterns/davis-spotlights-diptych" />
<r:partial name="patterns/davis-triptych" />

</main>