---
layout: default

custom_data_attributes:
 - vignetting
 - special_events_enabled
 - special_events_vignetting
---

<div id="wvu-main-content">
  <r:partial name="patterns/wvu-hero" />
</div>
<r:partial name="patterns/davis-search" />

<r:set_var name="$special_events_enabled"><r:partial name="patterns/davis-special-events" /></r:set_var>
<r:if v1="{$special_events_enabled}" v2="true" operator="=">
        <r:partial name="patterns/davis-special-events" />
</r:if>
<r:partial name="patterns/wvu-spotlights-diptych" />
<r:partial name="patterns/wvu-hero--baby" />
<r:partial name="patterns/davis-apply" />
<r:partial name="patterns/davis-social-diptych" />
<r:partial name="patterns/wvu-social-media-icons" />


<r:content_for name="page_js">
</r:content_for>
