---
layout: default

custom_data_attributes:
 - vignetting
 - vignetting_second_banner
 - special_events_enabled
 - special_events_vignetting
 - baby_hero_enabled
 - news_rss_url

---

<main id="wvu-main-content">
  <r:partial name="patterns/wvu-hero" />

<r:partial name="patterns/davis-search" />

<r:set_var name="$special_events_enabled"><r:partial name="patterns/davis-special-events" /></r:set_var>
<r:if v1="{$special_events_enabled}" v2="true" operator="=">
        <r:partial name="patterns/davis-special-events" />
</r:if>
<r:partial name="patterns/wvu-spotlights-diptych" />
<r:partial name="patterns/wvu-hero--baby" />
<r:partial name="patterns/davis-apply" />
<r:partial name="patterns/davis-social-diptych" />
<r:partial name="patterns/so-twitter-widget" />
</main>

<r:content_for name="page_js">
  <r:include_javascript name="vendor/twitterFetcher" />
  <script>
    var configProfile = {
      "profile": {"screenName": '<r:site:data name="twitter_handle" />'},
      "domId": 'exampleProfile',
      "maxTweets": 5,
      "enableLinks": true,
      "showUser": false,
      "showTime": true,
      "showImages": false,
      "showInteraction": false,
      "lang": 'en'
    };
    twitterFetcher.fetch(configProfile);
  </script>
</r:content_for>
