---
layout: default

custom_data_attributes:
- hide_meta_description
---

<main id="wvu-main-content">
  <r:partial name="patterns/wvu-landing-page-header" />

<r:partial name="patterns/wvu-spotlights-triptych" />
<r:partial name="patterns/davis-triptych" />
<r:partial name="patterns/davis-apply" />
</main>