---
layout: default
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">
    <aside class="wvu-sidebar">
        <div class="wvu-sub-nav">
            <p class="wvu-subtitle">
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="=">
                <a href="<r:page:url />"><r:page:name /></a>
            </r:if>
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="!=">
                <a href="<r:parent:page:url />"><r:parent:page:name /></a>
            </r:if>
            </p>
            <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
        </div> <!-- /.wvu-sub-nav -->
        <r:editable_region name="sidebar" />
    </aside>

    <main id="wvu-main-content" class="main">
        <h1>
            <r:page:name /> <!-- defaults to page name -->
        </h1>
        <!-- Editable region -->
        <r:editable_region name="main" />
        <!-- Find out what type of search was called -->
        <script language="javascript">
            $(document).ready(function($) {
                // Code that uses jQuery's $ can follow here.
                function getSearchType(name) {
                    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                    if (results !== null) {
                        return results[1] || 0;
                    } else {
                        return 'NoSearch';
                    }
                }
                var searchType = getSearchType('submit'); // get search type
                //console.log('searchType: ' + searchType);
                if (searchType !== null) {
                    if (searchType == 'SearchMajor') {
                        //console.log("SearchMajor");
                        $(".searchResultsCareer").addClass("hidden");
                        $(".allResults").addClass("hidden");
                    } else if (searchType == 'SearchCareer') {
                        //console.log("SearchCareer");
                        $(".searchResultsMajor").addClass("hidden");
                        $(".allResults").addClass("hidden");
                    } else if (searchType == 'NoSearch') {
                        $(".searchResultsMajor").addClass("hidden");
                        $(".searchResultsCareer").addClass("hidden");
                    }
                }
            });
        </script>

        <div class="searchResultsMajor">
            <h2>Search Results by Major</h2>
            <r:if v1="{$cquery}" v2="" operator="!=">
                <div id="anchor-results-by-major">
                    <r:descendants:each content="{$cquery}" content_keys="major_description, major_keywords" by="" limit="200">
                        <r:page:content name="major_image" />
                        <h3><r:page:name /></h3>
                        <p><r:page:content name="major_description" /></p>
                        <a href="<r:page:url/>" class="button">Read More</a>
                        <hr>
                    </r:descendants:each>
                </div>
            </r:if>
            <p>
            <r:set_var name="major_count"><r:descendants:count content="{$cquery}" content_keys="major_description,major_keywords" by="" limit="200" /></r:set_var>
            <r:if v1="{$major_count}" v2="0" operator="=" type="number">
                No majors matched your search terms.
            </r:if>
            View <a href="<r:page:url/>">all majors</a> or <a href="/">search again</a>.</p>
        </div>

        <div class="searchResultsCareer">
            <h2>Search Results by Career</h2>
            <r:if v1="{$cquery}" v2="" operator="!=">
                <div id="anchor-results-by-major">
                    <r:descendants:each content="{$cquery}" content_keys="major_description, major_careers, career_keywords" by="" limit="200">
                        <r:page:content name="major_image" />
                        <h3><r:page:name /></h3>
                        <p><r:page:content name="major_description" /></p>
                        <a href="<r:page:url/>" class="button">Read More</a>
                        <hr>
                    </r:descendants:each>
                </div>
            </r:if>
            <p>
            <r:set_var name="career_count"><r:descendants:count content="{$cquery}" content_keys="major_description, career_keywords" by="" limit="200" /></r:set_var>
            <r:if v1="{$career_count}" v2="0" operator="=" type="number">
                No majors matched your search terms.
            </r:if>
            View <a href="<r:page:url/>">all majors</a> or <a href="/">search again</a>.</p>
        </div>


        <!-- Search not used. Display majors grid -->
        <div class="allResults">
            <ul class="davis-majors-grid">
                <r:children:each limit="{$limit}" labels="{$tags}" by="name" order="ASC" with_template="major_template">
                    <li>
                        <a href="<r:page:url/>">
                            <r:page:content name="major_image" />
                            <p><r:page:name /></p>
                        </a>
                    </li>
                </r:children:each>
            </ul>
        </div>



    </main>
</div> <!-- /.wvu-container -->

