---
layout: default
---


<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">
    <aside class="wvu-sidebar">
        <div class="wvu-sub-nav">
            <p class="wvu-subtitle">
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="=">
                <a href="<r:page:url />"><r:page:name /></a>
            </r:if>
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="!=">
                <a href="<r:parent:page:url />"><r:parent:page:name /></a>
            </r:if>
            </p>
            <r:ancestor_menu start_depth="2" max_depth="3" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
        </div> <!-- /.wvu-sub-nav -->
        <r:editable_region name="sidebar" />
    </aside>

    <main id="wvu-main-content" class="main major">
        <h1>
            <r:editable_region name="major_title">
                <r:page:name /> <!-- defaults to page name -->
            </r:editable_region>
        </h1>
        <r:edit_mode_only>
            <b>Image:</b>
        </r:edit_mode_only>
        <r:editable_region name="major_image" />

        <r:edit_mode_only>
            <b>Description:</b>
        </r:edit_mode_only>
        <r:editable_region name="major_description" />
        <hr>
        <r:set_var name="fast_facts_title_1"><r:page:content name="fast_facts_title_1" /></r:set_var>
        <r:if v1="{{LENGTH(fast_facts_title_1) > 6}}" v2="true" operator="=" type="boolean">
            <h2  <r:edit_mode_only>class="hide-in-editor"</r:edit_mode_only>>Fast Facts</h2>
            <div class="fast-facts-three-column <r:edit_mode_only>hide-in-editor</r:edit_mode_only>">
                <div class="col"><h3><r:page:content name="fast_facts_title_1" /></h3><p><r:page:content name="fast_facts_desc_1" /></p></div>
                <div class="col"><h3><r:page:content name="fast_facts_title_2" /></h3><p><r:page:content name="fast_facts_desc_2" /></p></div>
                <div class="col last"><h3><r:page:content name="fast_facts_title_3" /><p><r:page:content name="fast_desc_title_3" /></p></div>
            </div>
            <div class="extra_facts<r:edit_mode_only> hide-in-editor</r:edit_mode_only>"><r:page:content name="major_fast_facts" /></div>
        </r:if>
        <r:edit_mode_only>
            <h2>Fast Facts</h2>
            <div class="fast-facts-three-column">
                <div class="col"><h3><r:editable_region name="fast_facts_title_1" /></h3><r:editable_region name="fast_facts_desc_1" /></div>
                <div class="col"><h3><r:editable_region name="fast_facts_title_2" /></h3><r:editable_region name="fast_facts_desc_2" /></div>
                <div class="col last"><h3><r:editable_region name="fast_facts_title_3" /></h3><r:editable_region name="fast_desc_title_3" /></div>
            </div>
            <div class="clear"><r:editable_region name="major_fast_facts" /></div>
        </r:edit_mode_only>

        <r:set_var name="major_careers"><r:page:content name="major_careers" /></r:set_var>
        <r:if v1="{{LENGTH(major_careers) > 6}}" v2="true" operator="=" type="boolean">
            <h2 class="careers<r:edit_mode_only> hide-in-editor</r:edit_mode_only>">Careers</h2>
            <div <r:edit_mode_only>class="hide-in-editor"</r:edit_mode_only>><r:page:content name="major_careers" /></div>
        </r:if>
        <r:edit_mode_only>
            <h2>Careers</h2>
            <r:editable_region name="major_careers" />
        </r:edit_mode_only>



        <r:set_var name="major_course_schedule"><r:page:content name="major_course_schedule" /></r:set_var>
        <r:if v1="{{LENGTH(major_course_schedule) > 6}}" v2="true" operator="=" type="boolean">
            <h2  <r:edit_mode_only>class="hide-in-editor"</r:edit_mode_only>>Course Schedule</h2>
            <h3 class="wvu-h5<r:edit_mode_only> hide-in-editor</r:edit_mode_only>">
                <r:page:content name="major_year">
                    Freshman Year
                </r:page:content>
            </h3>
            <div  <r:edit_mode_only>class="hide-in-editor"</r:edit_mode_only>><r:page:content name="major_course_schedule" /></div>
        </r:if>
        <r:edit_mode_only>
            <h2>Course Schedule</h2>
            <h3 class="wvu-h5">
                <r:editable_region name="major_year">
                    Freshman Year
                </r:editable_region>
            </h3>
            <r:editable_region name="major_course_schedule" />
        </r:edit_mode_only>






        <r:edit_mode_only>
            <br>
            <b>Additional content region:</b>
        </r:edit_mode_only>
        <r:editable_region name="main" />


        <!-- Hidden areas used for search -->
        <r:edit_mode_only>
            <h2> Keywords for Major Search</h2>
            <p><r:editable_region name="major_keywords" /></p>
        </r:edit_mode_only>
        <p class="hidden"><r:page:content name="major_keywords" /></p>
        <r:edit_mode_only>
            <h2> Keywords for Career Search</h2>
            <p><r:editable_region name="career_keywords" /></p>
        </r:edit_mode_only>
        <p class="hidden"><r:page:content name="career_keywords" /></p>


    

<!-- Show the apply now call to action if  enabled -->



</main>

</div> <!-- /.wvu-container -->
