---
layout: default
---


<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">
    <aside class="wvu-sidebar">
        <div class="wvu-sub-nav">
            <p class="wvu-subtitle">
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="=">
                <a href="<r:page:url />"><r:page:name /></a>
            </r:if>
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="!=">
                <a href="<r:parent:page:url />"><r:parent:page:name /></a>
            </r:if>
            </p>
            <r:ancestor_menu start_depth="2" max_depth="2" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
        </div> <!-- /.wvu-sub-nav -->
        <r:editable_region name="sidebar" />
    </aside>

    <main id="wvu-main-content" class="main">
        <h1>
            <r:page:name /> <!-- defaults to page name -->
        </h1>
        <!-- Editable region -->
        <r:editable_region name="main" />
        <!-- Build listing -->
        <r:children:each limit="{$limit}" labels="{$tags}" by="name" with_template="spotlight_template">
            <div class="spotlight_listing">
                <div class="spotlight_image">
                    <r:page:content name="spotlight_image" />
                </div>
                <div class="spotlight_copy">
                    <h2>
                        <r:set_var name="spotlight_type"><r:page:content name="spotlight_type" /></r:set_var>
                        <r:page:content name="spotlight_type" /><r:if v1="{{LENGTH(spotlight_type) >= 6}}" v2="true" operator="=" type="boolean">: </r:if><r:page:name />
                    </h2>
                    <p><r:page:content name="spotlight_intro" /></p>
                    <a href="<r:page:url/>" class="button"><r:page:name />&rsquo;s Profile</a>
                </div>
            </div>
            <hr class="spotlight_line">
        </r:children:each>

    </main>
</div> <!-- /.wvu-container -->

