---
layout: default

custom_data_attributes:
- apply_now
---


<r:partial name="patterns/wvu-breadcrumbs" />

<div class="wvu-container">
    <aside class="wvu-sidebar">
        <div class="wvu-sub-nav">
            <p class="wvu-subtitle">
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="=">
                <a href="<r:page:url />"><r:page:name /></a>
            </r:if>
            <r:if value1="{parent:page:name}" value2="_ROOT_" operator="!=">
                <a href="<r:parent:page:url />"><r:parent:page:name /></a>
            </r:if>
            </p>
            <r:ancestor_menu start_depth="2" max_depth="4" ul_class="nav-secondary" active_class="nav-secondary--current-page" open_class="nav-secondary--open" />
        </div> <!-- /.wvu-sub-nav -->
        <r:editable_region name="sidebar" />
    </aside>

    <main id="wvu-main-content" class="main spotlight">
        <h1>
            <r:editable_region name="spotlight_title">
                <r:page:name /> <!-- defaults to page name -->
            </r:editable_region>
        </h1>

        <r:edit_mode_only>

            <p><strong>Optional: Specify type (Alumni, Student, Faculty):</strong><br>Used on spotlight listing page. Leave blank if creating a spotlight for the faculty page.</p>
            <r:editable_region name="spotlight_type" />
            <br>
        </r:edit_mode_only>


        <r:edit_mode_only>
            <strong>Image:</strong>
        </r:edit_mode_only>
        <r:editable_region name="spotlight_image" />

        <r:edit_mode_only>
            <br>
            <strong>Enter short for spotlight listing page:</strong>
            <r:editable_region name="spotlight_intro" />
        </r:edit_mode_only>


        <r:edit_mode_only>
            <br>
            <strong>Enter text for entire page:</strong>
        </r:edit_mode_only>
        <r:editable_region name="spotlight_description" />

    </main>

</div> <!-- /.wvu-container -->

<!-- Show the apply now call to action if  enabled -->
<r:set_var name="apply_now"><r:page:data name="apply_now" /></r:set_var>
<r:if value1="{$apply_now}" value2="true" operator="=">
    <r:partial name="patterns/davis-apply" />
</r:if>
