.davis-triptych{
    @include pms-429-c-background();
}
.davis-backpage-triptych{
    margin-bottom:40px;
    font-size:.89em;
}
@include mq($bp-large, false, max) {
    .davis-triptych,.davis-backpage-triptych{
        .wvu-spotlight{
            margin-bottom:0;
            padding-bottom:0;
        }
        ul{
            margin-bottom:0;
            padding-bottom:0;
            margin-top:0;
            padding-top:0;
            font-size:1em
        }
    }

}