/* 
    Created on : Jul 27, 2016, 10:44:15 AM
    Author     : tbleech
    Description: Styles for college footer 
*/

.davis-footer{
    background-color: $davis-footer-background;
    color:white;
    a{
        color:white;
    }
}
.davis-footer-left{
    font-size:.8em;
    width:320px;
    float:left;
    a:hover{
        color:$wvu-hover-link-color;
    }
}
.davis-footer-middle{
    margin:0;padding:0;
    font-size:.8em;
    width:35%;
    float:left;
    margin-left:40px;
    p{ margin:0;padding:0;}
    a{text-decoration: none;
      &:hover{
          text-decoration: underline;
          color:$wvu-hover-link-color;
      }
    }
    ul{
        margin:0;padding:0;
        float:left;
        li{
            margin:0;padding:0;
            list-style: none;
            list-style-position: outside;
        }
    }
    ul.left{
        float:left;
        width:40%;
        padding-right:20px;
    } 
    ul.right{
        float:left;
        width:auto;
    }
}
.davis-footer-right{

    width:auto;
    float:right;
    a{
        margin-left:3px;
    }
}
.wvu-social-media-icons__container{
    font-size:1.25em;
    margin:0;padding:0;
}
/*
Start responsive layout
*/
@include mq($bp-xlarge, false, max) {
    .davis-footer-right{
        clear:both;
        margin-left:0;
        margin-top:20px;
        float:left;
        width:100%;
    }

}
@include mq($bp-footer-small, false, max) {
    .davis-footer-middle{
        clear:both;
        width:100%;
        margin:0;padding:0;
        margin-top:20px;
        margin-bottom:20px;
    }
}
