/* 
    Created on : Jul 28, 2016, 9:30:16 AM
    Author     : tbleech
*/
.davis-apply{
    height:315px;
    background-color:#efae12;
    background-image:url($flying-wv);
    background-position: left top;
    background-repeat: no-repeat;
    .davis-apply_container{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        .button{
            margin:5px;
        }
        h1{
            font-family: $wvu-shout;
            text-transform: uppercase;
            color:$wvu-blue;
            text-align: center;
            font-size:4.5em;
            margin:0;padding:0;
        }
        p{

            font-family:$base-font-family;
            font-weight: bold;
            text-align: center;
            margin-left:auto;
            margin-right:auto;
            margin-top:0;padding-top:0;
            margin-bottom:0;padding-bottom:0;
        }
        p.apply-tagline{
            margin-bottom:10px;
            padding-left:20px;
            padding-right:20px;
        }
    }

}
// responsive
@include mq($bp-mini, false, max) {
    .davis-apply{
        .davis-apply_container{
            h1{
                font-size:3em;
            }
            .button{
                margin:2px;
            }
        }
    }
}