/* 
    Created on : Aug 30, 2016, 2:29:57 PM
    Author     : tbleech
*/
.clear{
    clear:both;
    float:none;
}
.small-link{
    font-size:75%;
}
.minors-desc{
    float:right;
    margin-left:20px;
    width:auto;
}
.davis-gold{
    color:#edaa01;
}
.davis-blue{
    color:#002855;
}
//quickfacts
.quick-facts{
    text-align:right;
    float:left;
    h5{
        color:#002855;
        margin:0;
        padding:0;
    }
    h6{
        color:#edaa01;
        margin:0;
        padding:0;
    }
    .row-left{
        clear:both;
        float:left;
        margin-right:10px;
        background-color:#d1d4d6;
        padding:10px;
        width:350px;
    }
    .row-right{
        padding:0px;
        float:left;
        text-align: left;
        img{
            padding-left:4px;
            padding-right:4px;
        }
    }
    hr{
        clear:both;
        float:left;
        width:100%;
        height:auto;
        margin:0;padding:0;
        margin-top:30px;
        margin-bottom:30px;
    }

    .info-bottom{
        clear:both;
        .row-left{
            background-color:white;
        }
        .row-right{
            color:#055258;
            h6{
                margin:0;padding:0;
                font-size:300%;
                color:#055258;
                float:left;
            }
            img{
                margin-bottom:10px;
            }
        }
    }
}

@include mq($bp-xlarge, false, max) {
    .quick-facts{
        width:100%;
        .row-left{
            width:100%;
            float:left;
            text-align:left;

        }
        .row-right{
            width:100%;
            clear:both;
            margin-top:4px;
            margin-bottom:20px;
            float:left;
            text-align:left;
        }
    }
    .info-bottom{
        .row-left{
            float:left;
            background-color:#d1d4d6 !important;
            padding:10px;
        }
        .row-right{
            img{
                margin-top:10px;
            }
        }
    }
}
//Scholarship support
.scholarship-support{
    background-color:#117fc3;
    float:left;
    .awarded{
        display:block;

        .col{
            padding:20px;
            width:50%;
            float:left;
            background-color:#117fc3;

        }
        .first{
            border-right: 4px solid white;

        }
        h5,h6, p{
            margin:0;padding:0;
        }
        img{
            margin-bottom:6px;
        }
        h5, span.h5{
            color:$wvu-gold !important;
            font-family: $wvu-shout;
            color:blue;
            font-size:300%;

            line-height: .75em;
            span.white{
                color:white;
                font-size:60%;
                font-weight: bold;
                line-height:0;
            }
        }
        p{
            font-family:$base-font-family;
            font-weight:bold;
            margin-top:10px;
            margin-bottom:6px;
            font-size:90%;
            color:white;
            line-height:1em;
        }
        span{
            vertical-align: middle;
            font-family:$base-font-family;
            font-size:40%;
            color:white;
        }

        span.top{
            vertical-align: top;
            font-weight:bold;
            font-family:$base-font-family;
            font-size:40%;
            line-height: 1.5em;

            color:white;
        }
    }
    .value-added{
        margin-top:0px;
        clear:both;
        float:left;
        text-align: center;
        padding:20px;
        display:block;
        width:100%;
        background-color:$wvu-gold;
        border-top: 4px solid white;
        h5,h6{
            margin:0;padding:0;
        }
        h5{
            font-family: $wvu-shout;
            color:$wvu-blue !important;
            padding:2px;
            font-size:250%;
        }
    }

    .college-scholarships{
        background-color: #0e3b62;
        padding-top:40px;

        clear:both;
        float:left;
        text-align: center;
        display:block;
        width:100%;
        border-top: 4px solid white;
        h5,h6{
            margin:0;padding:0;
        }
        h5{
            color:$wvu-gold !important;
            font-family: $wvu-shout;
            color:blue;
            font-size:300%;
            line-height: .5em;
                    padding-left:20px;
        padding-right:20px;
        }
        span{
            vertical-align: middle;
            font-family:$base-font-family;
            font-size:60%;
            color:white;
        }
        .col{
            background-color: #0e3b62;
            margin-top:40px;
            width:33.2%;
            padding:20px;
            display:block;
            float:left;
            border-right: 2px solid white;
            border-top: 4px solid white;
            img{
                color:white;
            }
            p{
                font-weight:bold;
                color:white;
                line-height:1.25em;
                font-size:.90em;
            }
            h6{
                margin-top:-10px;
                padding-top:0;
                font-size:300%;
                color:$wvu-gold;
                font-family: $wvu-shout;
            }
        }
        .last{
            border-right:none;

        }
    }
}
@include mq($bp-small, false, max) {
   .scholarship-support{
       
        .awarded{
            .col{
                width:100%;
                float:none;
                border:none;
  
                 border-top: 4px solid white;
            }
        }
    }
}
// sidebar
.sidebar{
    border-top: 1px solid $wvu-gold;
    padding-top:10px;
    a{text-decoration: none;}
    b{ font-weight: bold; list-style-type: none; padding-left: 0;
       @include mq($bp-medium) {
           padding-left: 0em;
       }
       font-size: 0.8em;
       padding: 1em 0 0 0;
       padding-left:0;
    }
}
// Tables
td, th{
    padding-right:20px;
}

// Google Map styles
#map {
    height: 400px;
    background-color:blue;
}
#map h2{
    margin-bottom:0;
}
// Profiles
.profile a.button{
    margin-top:20px;
}
//Directory listing 

.directory-listing{
    hr{
        margin-top:20px;
        margin-bottom:20px;
    }
    h3{
        margin:0;padding:0;
    }
    a{
        margin-top:10px;
    }
    p{
        margin:0;
        padding:0;
        br{
            //display:none;
        }  
    }
    .directory-listing-phone, .directory-listing-email, .directory-listing-office{
        padding-left:30px !important;
    }
}

//Landing page hero
.hide-meta-description{
    height: 420px;
    p{
        display:none;
    }
}

// Majors page
.hidden{
    display:none;
}
ul.davis-majors-grid{
    .hidden{
        display:none;
    }
}
.major{
    hr{
        clear:both;
    }
    .careers{
        clear: both;
        padding-top:40px;
    }
    img{
        float:right;
        margin-left:20px;
        margin-bottom:40px;
        width:340px;
        height:246px;
    }
    .extra_facts{
        clear:both;
        float:left;
        // margin-bottom:20px;
    }
}


// Majors - Fast facts
.fast-facts-three-column{
    ul{
        margin-top:0;
        padding-top:0;
        font-size:.89em; 
    }
    h3{
        font-size:1.25em; 
        color:#005eb8;
        text-transform: uppercase;
        margin:0;padding:0;
        margin-bottom:10px;
        border-top:8px solid $wvu-gold;
        padding-top:8px;
        margin-top:10px;
    }
    p{
        font-size:.89em; 
        margin:0;padding:0;
        min-height:140px;
    }
    p:empty {
        display: none;
    }
    .col{
        background-color:#cccccc;
        float:left;
        padding:18px;
        margin-right:12px;
        width:32%;

    }
    .last{
        margin-right:0;
    }
}
@include mq($bp-large, false, max) {
    .fast-facts-three-column{
        .col{
            float:none;
            width:100%;
            margin-bottom:20px;
        }
        p{

            min-height:auto;
        }
    }
}
@include mq($bp-small, false, max) {
    .major img{
        float:none;
        margin-left:0px;
        margin-bottom:20px;
        //margin-bottom:20px;
    }
}
@include mq($bp-small, false, max) {
    .major img{
        float:none;
        margin-left:0px;
        margin-bottom:20px;
        width:100%;
        height:auto;
    }
}
// Major Search
.searchResultsMajor, .searchResultsCareer{
    img{
        width:260px;
        height:auto;
        float:left;
        margin-right:20px;
        margin-bottom:20px;
    }
    h3{
        display:inline;
        margin-top:0;
        color:#2c2b29;
        font-size:1.20em;
        font-weight:bold;
        text-decoration:none;
    }
    hr{clear:both;}
}
@include mq($bp-mini, false, max) {
    .searchResultsMajor, .searchResultsCareer{
        img{
            float:none;
            width:100%;
            height:auto;
        }
        hr{clear:both;}
    }
}
//Spotlight listings
.spotlight_listing{
    float:left;
    margin-bottom:40px;
    h3{
        margin-top:0;
        padding-top:0;

    }
    .spotlight_image{
        float:left;
        margin-right: 20px;
        width:169px;
        height:169px;
    }
    .spotlight_copy{
        float:left;
        width:60%;
        .button{
            clear:both;
            float:left;
        }
    }
}
@include mq($bp-small, false, max) {
    .spotlight_listing{
        h3{
            margin-top:20px;

        }
        .spotlight_image{
            float:none;
            margin:0;
            //width:100%;
            //height:auto;
        }
        .spotlight_copy{
            float:none;
            width:auto;
        }
    }
}
hr.spotlight_line{
    clear:both;
}
//Spotlight Page (Single listing)
.spotlight{
    img{
        float:right;
        margin-left:20px;
        margin-bottom:20px;
    }
}
@include mq($bp-small, false, max) {
    .spotlight{
        img{
            margin-left:0;
            float:none;
            clear:both;
            width:100%;
            height:auto;
        }
    }
}
figure {
    display: table;
    margin:0;padding:0;
    float:left;
    margin:2px;
}
figure.left{
    float:left;
    margin-right:20px;
}
figure.right{
    float:right;
    margin-left:20px;
}
figure img {
    margin:0!important;
}
figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align:center;
    font-size:.75em;
    background-color:#ccc;
    padding:4px;
}
