/* 
    Created on : Aug 2, 2016, 1:47:01 PM
    Author     : tbleech
*/
// Grid of majors
#maincontent{

}
ul.davis-majors-grid{
    list-style: none;
    margin-left: 0; /* should match li left margin */
    padding-left:0; 
    //float:left;
    //width:100%;
    display:flex;
    flex-wrap: wrap;
    li{
        display: block;
       	width: 30%;
        margin: 1.5%;
        text-align:center;
        &:nth-of-type(3n) {
            margin-right: 0;	
        }
        &:nth-of-type(3n+1) {
            margin-left: 0;	
        }
        a{
            display:block;
            color:#2c2b29;
            font-size:1.20em;
            font-weight:bold;
            text-decoration:none;
            text-align: center;
            //padding: 15px 10px 30px 10px;
            margin-bottom:20px;
            &:hover{
                color:$wvu-hover-link-color;
                background-color:#e5e5e5;
            }
           
        }
        img {
            max-width: 100%;
            height: auto;
        }
        p{

           padding: 0px 10px 20px 10px; 
        }
    }  
}

@include mq($bp-large, false, max) {
    ul.davis-majors-grid{
        li{
            margin:0;
            display: block;
            width: 46%;
            max-width:240px; 
            text-align:center;
            &:nth-of-type(2n) {
                margin-right: 0;
                margin-left:30px;
            }
            &:nth-of-type(2n-1) {
                 margin-left: 0;	
            }
        }
    }
}

@include mq($bp-small, false, max) {
    ul.davis-majors-grid{
         width:100%;
        li{
            width:100%;
            max-width:100%;


           // @include pms-429-c-background();
            img{
                display:none;
            }
             &:nth-of-type(2n) {
                margin: 0;
            }
            &:nth-of-type(2n-1) {
                 margin: 0;	
            }
            a{
                @include pms-429-c-background();
                padding:0;
            }
            p{
                 // padding: 10px 0px 10px 0px;
                 padding:10px;
                 margin:0;

            }
        }
    }
}
