/* 
    Created on : Jul 27, 2016, 2:00:29 PM
    Author     : tbleech
*/

.davis-social-triptych{

    .col{
        float:left;
    }
    .news{
        font-size:.8em;
        width:280px;
        margin-right:40px;
        p.news-article__meta{
            margin:0;padding:0;
            margin-top:30px;
        }
        .news-article__date{
            font-weight: bold;
            margin-bottom:0;padding-bottom:0;
        }
        .news-article__title{
            margin-top:0;padding-top:0;
            margin-bottom:40px;
            a{
                color:black;
                &:hover{
                    color:$wvu-hover-link-color;
                }
            }
        }
    }
    .events{
        font-size:.8em;
        margin-left:40px;
        width:30%;
        margin-right:70px;
        span .eventName a{
            color:black;
            &:hover{
                color:$wvu-hover-link-color;
            }
        }
        li.calEvent{
            border-bottom: 1px solid #bfbfbf;
            padding-bottom:25px;
        }
        .eventMonth {
            clear: both;
            float: left;
            font-size: 0.8em;
            line-height: 1.25em;
            margin-bottom: 0px;
            padding-left: 5px;
            text-align: center;

            text-transform: uppercase;
        }

        .eventDay {
            clear: both;
            float: left;
            font-size: 1.45em;
            line-height: 1em;
            margin-top: 0px;
            padding-left: 5px;
            text-align: center;
        }

    }
    .social{
        font-size:.8em;
        width:30%;
    }
    h1{
        font-size:2.4em !important;
        border-bottom: 1px solid black;
        padding-bottom:20px;
    }
    a.button{
        font-size:1.25em;
        margin-top:0px;
    }

}

/*
Start responsive layout
*/

@include mq($bp-xlarge, false, max) {
    .davis-social-triptych{
        .news,.events{
            width:45%;
        }
        .events{
            margin-right:0;
        }
        .social{
            margin-top:40px;
            clear:both;
            width:100%;
        }
    } 
}
@include mq($bp-large, false, max) {
    .davis-social-triptych{
        .events{
            margin-left:0;

        }

    } 
}

@include mq($bp-medium, false, max) {
    .davis-social-triptych{
        .col{
            margin-left:0;margin-right:0;
            clear:both;
            float:left;
            width:100%;
        }
        .events{
            margin-top:40px;
            margin-bottom:20px;
        }
    }
}