/*
Used to style CleanSlate editor
*/
/* 
    Created on : Aug 19, 2016, 9:26:14 AM
    Author     : tbleech
*/

.editor{
    clear:both;
    margin-left:40px;
    margin-right:40px;
}
.wvu-hero-baby__photo--edit-mode{
    float:right;
    width:50%;
    height:auto;
    min-height:400px;
}
.wvu-hero-large__photo--edit-mode{
    clear:both;
    width:50%;
    height:50%;
    background-color:red;
}
.hide-in-editor{
    display:none;
}
.editor-label{
    float:left;
    margin-top:20px;
}
#_ckey_wvu-profile__photo, #_ckey_wvu-profile__phone, #_ckey_wvu-profile__email, #_ckey_wvu-profile__office, #_ckey_wvu-profile__website, #_ckey_sidebar{
    margin:0;
    padding:0;
    clear:left;
}

