$wvu-masthead-background: 'blue';
$davis-footer-background: #2c2a29;
$wvu-blue: #002855;

// Custom breakpoints
$bp-footer: 995 !default;
$bp-footer-small: 635 !default;


//Images
$flying-wv:'http://localhost:2000/davis-natural-resources-and-design/images/flying-wv-background.jpg';

// Backpage heros
$has-landing-page-intro-overaly: true;

// Homepage hero cover image
$has-vignetting: true;

$black: #2C2A29;
$white: #fff;
$wvu-dune: $black;
