
/* 
    Created on : Jul 29, 2016, 9:57:59 AM
    Author     : tbleech
*/
.wvu-nav{
    .wvu-nav__container{
        li{
            a{
                padding-right:14px;
                padding-left:14px;
            }
            a.school-nav{
                color:#f2b414;
                &:hover{
                    color:#2c2a29;
                }
            }
        }
        li.last{
            //border-right:none;
        }
    }
}
