/* 
    Created on : Apr 20, 2016, 10:24:11 AM
    Author     : tbleech
    Description: Allows hero and small hero to be used on the same page
*/
.wvu-hero{
    h1{
        font-size:7em;
    }
    .wvu-hero__container{
        padding-top:70px;
        padding-bottom:70px;
    }
}

.wvu-hero--small-photo{
    padding-bottom:0;
    background-color: #efefef !important;
    background-image: none !important;

    .wvu-hero__container{
        width:100%;
        height:416px;
        margin-top: 0;
        padding-top:0;
        margin-bottom: 0;
        padding-bottom:0;

        .wvu-hero__copy{
            float:left;
            width:40%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            h1{
                color:#002855;
                font-size:3em !important;
                text-shadow:none;
                color:#002855;
                text-transform:uppercase;
            }
            p{
                margin:0;
                padding:0;
                color:black !important;
                margin-top:25px;
                margin-bottom:30px;
                font-family: $base-font-family;
                font-style:normal;
                font-size:1em; 
                margin-top:20px;
                text-shadow:none;
                color:#002855;
            }
        }
        .wvu-hero__photo{
            float:right;
            margin-right:0;
            padding-right:0;
        }
    }
}
// baby hero edit mode
.wvu-hero-baby__photo--edit-mode{
    width:25%;
    height:25%;
    float:right;
}
@include mq($bp-xlarge, false, max) {
    .wvu-hero--small-photo{
        .wvu-hero__container{
             height:365px;
         }
        .wvu-hero__photo{
            img{
                width:auto;
            }
        }
    }
}
@include mq($bp-large, false, max) {
    .wvu-hero--small-photo{
         
        .wvu-hero__photo{
            width:50%;
        }
    }
}
@include mq($bp-medium, false, max) {
    .wvu-hero--small-photo{
        .wvu-hero__container{
            .wvu-hero__photo{
                display:none;
            }
            .wvu-hero__copy{
                margin-top:0;
                padding-top:0;
                clear:both;
                float:left;
                width:100%;
                h1{

                }
            }
        }
    }
}
@include mq($bp-mini, false, max) {
    .wvu-hero--small-photo{
        .wvu-hero__container{
            .wvu-hero__copy{
                h1{
                   font-size:2em !important;
                }
            }
        }
    }
}
/*
@include mq($bp-medium, false, max) {
    .wvu-hero__copy{
        h1{
            font-size:4.25em !important;
        }
    }
    .wvu-hero--small-photo{
        padding:0;
        .wvu-hero__photo{
            clear:both;
            float:left;
            width:auto;
            margin-right:40px;
            margin-top:40px;
            img{
                width:100%;
            }
        }
        .wvu-hero__copy{
            padding-top:0;
            h1{
                margin-top:0;
            }
        }
    }
}
@include mq($bp-small, false, max) {

    .wvu-hero--small-photo{
        .wvu-hero__copy{
            h1{
                margin-top:0px;
            }
        }
    }
}
@include mq($bp-mini, false, max) {
    .wvu-hero--small-photo{
        .wvu-hero__photo{
            display:none;
        }
    }
}*/