/* 
    Created on : Jul 28, 2016, 2:55:10 PM
    Author     : tbleech
*/
.wvu-diptych{
    background-color:#333f48;
    color:white;
    a.button--white{
        color:white;
        &:hover{
            color:#002855;
        }
    }
    .wvu-diptych__container{
        padding-bottom:100px;
        h1{
            color:white;
            font-size:2em;
            margin-bottom:30px;
            margin-top:20px;
        }
        h2{
            font-size:1.5em;
            color:white;
        }
        .wvu-spotlight__copy{
            padding-left:8px;
        }
    }
}
@include mq($bp-xlarge, false, max) {
    .wvu-diptych{
        .wvu-diptych__container{
            padding-left:20px;
            padding-right:20px;
        }
    }
}
@include mq($bp-medium, false, max) {
    .wvu-diptych{
        .wvu-diptych__container{
            .wvu-spotlight__copy{
                padding-left:0px;
            }
            h1{
               margin-left:12px;
            }
        }
    }
}
