<!-- Using custom page data to set vignetting. Default is false. -->
<r:set_var name="$special_events_vignetting"><r:page:data name="special_events_vignetting" /></r:set_var>
<r:if v1="{$special_events_vignetting}" v2="true" operator="=">
    <div class="davis-special-events <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" />" style="background-image: url(https://patterns.wvu.edu/images/vignetting-2.png), url(<r:page:content name="special-events__photo" />);">
</r:if>  
<r:if v1="{$special_events_vignetting}" v2="false" operator="=">
     <r:set_var name="special_events_image"><r:page:content name="special-events__photo" /></r:set_var>
    <!-- show the image -->
    <r:if value1="{{LENGTH(special_events_image) > 6}}" value2="true" operator="=" type="boolean">
        <div class="davis-special-events <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" />" style="background-image: url(<r:page:content name="special-events__photo" />);">
    </r:if> 
    <!-- just set the class if no image is set -->
   
    <r:if value1="{{LENGTH(special_events_image) < 6}}" value2="true" operator="=" type="boolean">
        <div class="davis-special-events">
    </r:if> 
</r:if>   

<r:edit_mode_only>
    <div class="editor">
        <br>URL of background image: <r:editable_region name="special-events__photo" />
    </div>
</r:edit_mode_only> 



<div class="davis-special-events_container">
    <h1><r:editable_region name="davis-special-events-title" /></h1>
    <p class="special-events-tagline"><r:editable_region name="davis-special-events-text" /></p>
<p><r:editable_region name="special-events-buttons" /></p>
</div>
</div>