<div class="wvu-triptych davis-backpage-triptych<r:var name="wvu-triptych__classes" />">
    
        <div class="wvu-spotlight">
            <r:editable_region name="wvu-quadtych__content-1" />
        </div>
        <div class="wvu-spotlight">
            <r:editable_region name="wvu-quadtych__content-2" />
        </div>
        <div class="wvu-spotlight">
            <r:editable_region name="wvu-quadtych__content-3" />
    </div>
</div>
