<r:set_var name="vignetting_second_banner"><r:page:data name="vignetting_second_banner" /></r:set_var>

<r:if v1="{$vignetting_second_banner}" v2="true" operator="=">
    <div class=davis-action-yellow <r:var name="wvu-hero__classes" />"  style="background-image: url(https://patterns.wvu.edu/images/vignetting-2.png), url(<r:page:content name="action__photo" />);">
</r:if>   

<r:if v1="{$vignetting_second_banner}" v2="false" operator="=">
    <div class=davis-action-yellow <r:var name="wvu-hero__classes" />" style="background-image: url(<r:page:content name="action__photo" />);">
</r:if>   

    <r:edit_mode_only>
        <div class="editor">
            <br>URL of background image: <r:editable_region name="action__photo" />
        </div>
    </r:edit_mode_only> 
    <div class="davis-action-yellow_container">
        <h1><r:editable_region name="davis-action-yellow-title" scope="site" /></h1>
        <p class="apply-tagline"><r:editable_region name="davis-action-yellow-text" scope="site" /></p>
        <p><r:editable_region name="davis-action-yellow-buttons" scope="site" /></p>
    </div>
</div>  