<div class="wvu-triptych davis-triptych<r:var name="wvu-triptych__classes" />">
     <div class="wvu-triptych__container">
        <h2><r:editable_region name="wvu-quadtych__title" /></h2>
        <div class="wvu-spotlight">
            <r:editable_region name="wvu-quadtych__content-1" />
        </div>
        <div class="wvu-spotlight">
            <r:editable_region name="wvu-quadtych__content-2" />
        </div>
        <div class="wvu-spotlight">
            <r:editable_region name="wvu-quadtych__content-3" />
        </div>
    </div>
    <div class="wvu-triptych__container wvu-triptych__alt">
        <r:editable_region name="wvu-quadtych__alt" />
    </div>
</div>
