<div class="davis-apply">
    <div class="davis-apply_container">
        <h1><r:editable_region name="davis-apply-title" scope="site" /></h1>
        <p class="apply-tagline"><r:editable_region name="davis-apply-text" scope="site" /></p>
        <p><r:editable_region name="davis-apply-buttons" scope="site" /></p>
    </div>
</div>  