<div class="davis-social-triptych">
    <div class="wvu-container">
        <div class="col news">
            <h1><r:editable_region name="triptych-social-title-1" /></h1>

            <r:comment><!-- NOTE: Set how many blog posts you'd like to show per page. Eg: default="10" --></r:comment>
            <r:set_var name="limit" value="{$limit}" default="5"/>
             <r:blog id="26186">
            <r:blog:articles limit="{$limit}" page="{$page}" tags="{$tags}" tags_op="{$tags_op}" year="{$year}" month="{$month}" day="{$day}">
                <r:set_var name="article_count" value="{count}" />

                <r:if_no_articles>
                    <p>No recent news.</p>
                </r:if_no_articles>

                <r:if_articles>
                    <div class="news-articles">
                        <r:each>
                            <article class="news-article" itemscope="" itemtype="http://schema.org/BlogPosting">
                                <p class="news-article__meta">
                                    <time class="news-article__date" itemprop="datePublished" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%B %d, %Y" value="{article:published_at}" /></time>
                                </p> <!-- /.news-article__meta -->
                                <p class="news-article__title" itemprop="headline"><a href="<r:article:path />"><r:article:name /></a></p>

                            </article> <!-- /.news-article -->
                        </r:each>
                    </div> <!-- /.news-articles -->
                </r:if_articles>
            </r:blog:articles>
            </r:blog>
            <r:editable_region name="triptych-social-button-1" />
        </div>
        <div class="col events">
            <h1><r:editable_region name="triptych-social-title-2" /></h1>
             <r:editable_region name="triptych-social-calendar" />
            <r:editable_region name="triptych-social-button-2" />
        </div>
        <div class="col social">
            <h1><r:editable_region name="triptych-social-title-3" /></h1>
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%40wvudavis" data-widget-id="610478729249325056">Tweets about @wvudavis</a>
            <script>!function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>

        </div>
    </div>
</div>
