<div class="davis-social-diptych">
    <div class="wvu-container">
        <div class="col news">
            <h1><r:editable_region name="diptych-social-title-1" /></h1>

            <r:comment><!-- NOTE: Set how many blog posts you'd like to show per page. Eg: default="10" --></r:comment>
            <r:set_var name="limit" value="{$limit}" default="5"/>
             <r:blog id="26186">
            <r:blog:articles limit="{$limit}" page="{$page}" tags="{$tags}" tags_op="{$tags_op}" year="{$year}" month="{$month}" day="{$day}">
                <r:set_var name="article_count" value="{count}" />

                <r:if_no_articles>
                    <p>No recent news.</p>
                </r:if_no_articles>

                <r:if_articles>
                    <div class="news-articles">
                        <r:each>
                            <article aria-labelledby="aria__article-title--<r:article:id />" class="news-article" itemscope="" itemtype="http://schema.org/BlogPosting">
                                <p class="news-article__meta">
                                    <time class="news-article__date" itemprop="datePublished" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%B %d, %Y" value="{article:published_at}" /></time>
                                </p> <!-- /.news-article__meta -->
                                <p class="news-article__title" itemprop="headline"><a id="aria__article-title--<r:article:id />" href="<r:article:path />"><r:article:name /></a></p>

                            </article> <!-- /.news-article -->
                        </r:each>
                    </div> <!-- /.news-articles -->
                </r:if_articles>
            </r:blog:articles>
            </r:blog>
            <r:editable_region name="diptych-social-button-1" />
        </div>
        <div class="col events">
            <h1><r:editable_region name="diptych-social-title-2" /></h1>
            <r:editable_region name="diptych-social-calendar" />
            <r:editable_region name="diptych-social-button-2" />
        </div>
    </div>
</div>

