<div class="davis-search">

    <div class="search-left">
        <div class="search-left-inner">
        <h1><r:editable_region name="davis-search-title-1"/></h1>
        <p><r:editable_region name="davis-search-desc-1"/></p>
        <form aria-labelledby="aria__search-majors" id="form-search--majors" class="form-search form-search--majors" role="search" method="get" action="/future-students/majors">
            <label class="form-search__label form-search__label--majors" for="search-majors">
                <span id="aria__search-majors" class="form-search__label-text form-search__text--majors">Search Majors</span>
                <input id="search-majors" class="form-search__field form-search__field--majors " type="search" placeholder="Search our majors..." maxlength="256" name="cquery">
            </label>
            <input class="form-search__submit form-search__submit--majors" type="submit" value="SearchMajor" name="submit">
        </form>
        </div>
    </div>

    <div class="search-right">
        <h1><r:editable_region name="davis-search-title-2"/></h1>
        <p><r:editable_region name="davis-search-desc-2"/></p>
        <form aria-labelledby="aria__search-career" id="form-search--careers" class="form-search form-search--careers" role="search" method="get" action="/future-students/majors">
            <label class="form-search__label form-search__label--careers" for="search-career">
                <span id="aria__search-career" class="form-search__label-text form-search__text--careers">Search by career</span>
                <input id="search-career" class="form-search__field form-search__field--careers" type="search" placeholder="Search by career..." maxlength="256" name="cquery">
            </label>
            <input class="form-search__submit form-search__submit--careers" type="submit" value="SearchCareer" name="submit">
        </form>
    </div>

</div>