<div class="davis-faculty">
    <div class="davis-faculty_container">
        <h1><r:editable_region name="davis-faculty-title" scope="site" /></h1>
        <p class="apply-tagline"><r:editable_region name="davis-apply-text" scope="site" /></p>
        <p><r:editable_region name="davis-faculty-buttons" scope="site" /></p>
    </div>
</div>  