<div class="davis-footer">
    <div class="wvu-container">
        <div class="davis-footer-left">
            <r:partial name="layouts/footer__contact--v1" theme="Code" />
            <div class="wvu-social-media-icons <r:var name="wvu-social-media-icons__classes" />">
                 <div class="wvu-social-media-icons__container <r:edit_mode_only>editor</r:edit_mode_only>">
                    <r:editable_region name="davis-social-media-icons" scope="site"/>
                </div>
            </div>
        </div>
        <div class="davis-footer-middle">
            <p><strong>Sitemap</strong></p>
            <ul class="left">
                <r:editable_region name="davis-sitemap-left" scope="site" />
            </ul>
            <ul class="right">
                <r:editable_region name="davis-sitemap-right" scope="site" />
            </ul>
        </div>
        <div class="davis-footer-right">
            <r:editable_region name="davis-footer-buttons" scope="site" />
        </div>
    
    <div class="davis-footer-ada">
             <r:editable_region name="davis-footer-adatext" scope="site" />
        </div>
     </div>   
</div> 

