<r:page:if_has_content_for region="so-twitter-widget__headline" always_show_in_edit_mode="true">
  <div class="so-twitter-widget">
    <div class="so-twitter-widget__container">

      <r:page:if_has_content_for region="so-twitter-widget__headline" always_show_in_edit_mode="true">
        <h2 class="so-twitter-widget__headline"><r:editable_region name="so-twitter-widget__headline" type="simple" scope="site">Follow Us on Twitter</r:editable_region></h2>
      </r:page:if_has_content_for>
      <r:page:if_has_content_for region="so-twitter-widget__lede" always_show_in_edit_mode="true">
        <p class="so-twitter-widget__lede"><r:editable_region name="so-twitter-widget__lede" type="simple" scope="site">Subhead goes here.</r:editable_region></p>
      </r:page:if_has_content_for>

      <div id="exampleProfile"></div>

      <div class="so-twitter-widget__postscript">
        <a href="http://twitter.com/<r:site:data name="twitter_handle" />">
          <img src="https://patterns.wvu.edu/images/social-media-icons/twitter.png" alt="Twitter icon" />
          @<r:site:data name="twitter_handle" />
        </a>
      </div>

    </div>
  </div>
</r:page:if_has_content_for>

<r:edit_mode_only>
  <div class="u-pms-115-c background">
    <div class="wvu-container">
      <strong>Instructions for Twitter Widget:</strong> In order to use this, you must create a <a href="https://dev.twitter.com/web/embedded-timelines">Twitter Widget</a>. Log in to Twitter and <a href="https://twitter.com/settings/widgets/new">create your widget</a>. Then enter the ID of the widget in Manage > Settings > Data > <code>twitter_handle</code>. Tweets will automatically display here.
    </div> <!-- /.wvu-container -->
  </div> <!-- /.background -->
</r:edit_mode_only>