<r:set_var name="hide_meta_description"><r:page:data name="hide_meta_description" /></r:set_var>
<div class="wvu-landing-page-header wvu-landing-page-header--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" /> <r:if value1="{$hide_meta_description}" value2="true" operator="=">hide-meta-description</r:if>" style="background-image: url(<r:page:content name="hero__photo2" />);">
    
    <r:edit_mode_only>
        <div class="editor">
            <br>URL of background image: <r:editable_region name="hero__photo2" />
        </div>
    </r:edit_mode_only> 

    <div class="wvu-landing-page-header__container">
        <h1><r:editable_region name="wvu-landing-page-header" /></h1>
        
        <p class="wvu-landing-page-header__intro wvu-landing-page-header__intro--overlay omega"><r:page:meta_description /> </p>
    </div>
</div>
