<div class="wvu-social-media-icons <r:var name="wvu-social-media-icons__classes" />">
  <div class="wvu-social-media-icons__container"> 
    <r:editable_region name="wvu-social-media-icons" scope="site"/>
  </div>
</div>
