<div class="wvu-hero wvu-hero--small-photo">
  <div class="wvu-hero__container">
    <div class="wvu-hero__copy">
      <h1>
          <span class="wvu-hero__title-top"><r:editable_region name="wvu-hero-baby__title-top" type="simple" /></span>
      </h1>
      <p><r:editable_region name="wvu-hero-baby__text" /></p>
      <r:editable_region name="wvu-hero-baby__button" />
    </div>
    <div class="wvu-hero__photo <r:edit_mode_only>wvu-hero-baby__photo--edit-mode</r:edit_mode_only>">
      <r:editable_region name="wvu-hero-baby__photo" />
    </div>
  </div>
</div>