<!-- Using custom page data to set vignetting. Default is false. -->
<r:set_var name="vignetting"><r:page:data name="vignetting" /></r:set_var>


<r:if value1="{{vignetting}}" value2="true" operator="=">
    <div class="wvu-hero <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" />" style="background-image: url(https://patterns.wvu.edu/images/vignetting-2.png), url(<r:page:content name="hero__photo" />);">
</r:if>   

<r:if value1="{{vignetting}}" value2="false" operator="=">
    <div class="wvu-hero <r:var name="wvu-hero__classes" /> wvu-hero--<r:page:slug /> <r:var name="wvu-landing-page-header__classes" />" style="background-image: url(<r:page:content name="hero__photo" />);">
</r:if>   

<r:edit_mode_only>
    <div class="editor">
        <br>URL of background image: <r:editable_region name="hero__photo" />
    </div>
</r:edit_mode_only> 

    <div class="wvu-hero__container">
        <div class="wvu-hero__copy">
            <h1><r:editable_region name="wvu-hero__title-top" /><br><span class="wvu-hero__title-bottom"><r:editable_region name="wvu-hero__title-bottom" type="simple" /></span></h1>
            <p><r:editable_region name="wvu-hero__text" /></p>
            <r:editable_region name="wvu-hero__button-text" />
        </div>
    </div>
</div>