<nav aria-label="Breadcrumb Navigation" class="wvu-breadcrumbs <r:var name="wvu-breadcrumbs__classes" />">
  <div class="wvu-breadcrumbs__container">
    <r:breadcrumbs ul_class="wvu-breadcrumbs__crumbs" />
  </div>
</nav>
